<!DOCTYPE html>

<!-- SPACING FOR MAIN ALERT -->
<style>
    .mainAlert 
    {
        --bs-alert-padding-x: .125rem;
        --bs-alert-padding-y: .125rem;
    }
</style>


<body>
    <!-- HIDDEN MANUALLY CONSTRUCTED ALERTS -->
    <div hidden id="hiddenMainAlertDump">
        {% if alert %}
            <div class="mainAlertPlaceholder" type="{{alert.type}}">{{alert.message}}</div>
        {% endif %}
    </div>
    
    <br>

    <!-- MAIN ALERT HOLDER -->
    <div id ="mainAlertContainer" class="container mx-auto HideScrollbar" style="width: 40vw; height: 10vh; overflow-y: auto; display: flex; flex-direction: column;">

    </div>
</body>

</html>