<!DOCTYPE html>

<!-- MODULES -->
{% include "handlers/topBarHandler.html" %}

<!-- HEAD -->
<head>
</head>

<!-- BODY -->
<body>
    <div class="container" style="margin: auto; justify-content: center;">
        <div class="row", style="margin: auto; align-items: center; display: flex;">
            <div class="card expandable bg-dark shadow-lg mx-auto" style="width: 40%;">
                <div class="card-header">
                    <img src="{{url_for('static', filename='images/Logo.png')}}" class="card-title img-fluid" alt="Logo">
                </div>
                <hr class="border-top border-secondary opacity-50 my-2">
                <div class="card-body">
                    <h5 class="card-title text-light">Login</h5>

                    <form id="loginForm" action="/loginRequest" method="post">
                        {{ form.hidden_tag() }}

                        <div class="form-group">
                            <label for="usernameInput1" class="form-label text-secondary">👤 Username</label>
                            {{ form.username(size=32) }}
                        </div>

                        <br>

                        <div class="form-group">
                            <label for="passwordInput1" class="form-label text-secondary">🔑 Password</label>
                            {{ form.password(size=32) }}
                        </div>
                        
                        <br>

                        <!-- LOGIN OPTION + GOOGLE RECAPTCHA -->
                        <div class="form-group">
                            <button class="g-recaptcha btn btn-success" data-sitekey = "{{ siteKey }}" data-callback = "onLoginClicked" data-action="submit">LOGIN</button>
                        </div>
                    </form>

                    <hr class="border-top border-secondary opacity-50 my-3">

                    <!-- REGISTER OPTION -->
                    <p class="text-secondary">Don't have an account?</p>
                    <a href="/register" class="text-primary">Sign up here!</a>
                </div>
            </div>

        </div>
    </div>
</body>


<script type="module">
    import { pageModule } from "{{url_for('static', filename='js/loginpage.js')}}";
    
    document.addEventListener('DOMContentLoaded', function() {
        pageModule.initialise();
    });
</script>

</html>