<!DOCTYPE html>

<!-- MODULES -->
{% include "handlers/topBarHandler.html" %}

<!-- HEAD -->
<head>
    <script src="https://www.google.com/recaptcha/api.js?render={{siteKey}}" async defer></script> <!-- RECAPTCHA : ROBOT CHECK -->

    <script>
        window.PageData = {};
        window.PageData["siteKey"] = "{{siteKey}}";
    </script>
</head>

<!-- BODY -->
<body>
    <div class="Content" style="display: flex; justify-content: center; align-items: center;">
        <div class="card expandable bg-dark Outline shadow-lg mx-auto LoadItem" style="width: 550px; aspect-ratio: 1;">
            <div class="card-body">
                <img src="{{url_for('static', filename='images/Logo.png')}}" class="card-title img-fluid" alt="Logo">
                
                <hr class="border-top border-secondary opacity-50 my-2">

                <h5 class="card-title text-light">Login</h5>

                <form id="loginForm" action="/loginRequest" method="post">
                    {{ form.hidden_tag() }}

                    <div class="form-group">
                        <label for="usernameInput1" class="form-label text-secondary">👤 Username</label>
                        {{ form.username(size=32) }}
                    </div>

                    <br>

                    <div class="form-group">
                        <label for="passwordInput1" class="form-label text-secondary">🔑 Password</label>
                        {{ form.password(size=32) }}
                    </div>
                    
                    <br>

                    <!-- LOGIN OPTION + GOOGLE RECAPTCHA -->
                    <div id="loginButtonHolder" class="form-group">
                    </div>
                </form>

                <hr class="border-top border-secondary opacity-50 my-3">

                <!-- REGISTER OPTION -->
                <p class="text-secondary">Don't have an account?</p>
                <a href="/register" class="text-primary">Sign up here!</a>
            </div>
        </div>
    </div>
</body>

</html>